.contacts__h1 {
    font-size: 3.625rem;
    width: 41.125rem;
    margin: 0 0 0.56em;
}

.contacts__notice {
    font-size: 1rem;
    width: 38.6875rem;
    margin: 0 0 2em;
}

.two-column__image1 {
    margin-right: 3.825rem;
    margin-top: 12.9rem;
}

.two-column__image2 {
    align-self: flex-start;
    margin-top: 4.925rem;
}

