$font-base: 'Open Sans';
$font-headline: 'Playfair Display';

$body-bg: #13171b;
$body-color: #E7E7E7;

$form-control-bg: #13171b;
$form-control-color: #FFF;
$form-control-placeholder: #BEBEBE;

$btn-bg: #3d4650;
$btn-color: #FFF;